form.auth
    input.form-control.sm.auth__name(type="text" placeholder="Name")
    input.form-control.sm.auth__pass(type="password" placeholder="Password")
    button.btn.btn-success.auth__submit(type="submit").discription Sing in
