.chat {
    width: 300px;
    margin: auto;
    bakground-color: #19ff19;
    color: #fff;
    font-size: 14px;

    &__title {
        font-size: 16px;
    }

    &__message {
        color: #4d4;
    }

}
